[Unit]
Description=US Visa Appointment Rescheduler
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/usvisa-ca
Environment=PATH=/root/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/root/venv/bin/python /root/usvisa-ca/reschedule.py
Restart=no
StandardOutput=append:/root/usvisa-ca/logs/rescheduler.log
StandardError=append:/root/usvisa-ca/logs/rescheduler.error.log

[Install]
WantedBy=multi-user.target 